
/* SETUP */

* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

html, body {
    height: 100%;
}

.accueil {
    height: 100%;
    min-width: 100%;
}

/* HEADER */

div.header {
    display: block;
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.header a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
}

/* Effet liens */

footer p a, div.header a {
    color: black;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-out;

}

footer p a::after, div.header a::after {
    content: ""; /* Créer un élément vide, sans texte */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out;
}

footer p a:hover::after, div.header a:hover::after {
    transform: scaleX(1); /* Rend l'élélemt visible */
    transform-origin: left;
}

footer {
    width: 100%;
    background-color: #abb0a9;
}

footer h2 {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin-left: 10%;
    margin-bottom: 20px;
    line-height: 2em;
}

.separator {
    width: 80%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #103900;
}

p.legislation {
    margin-left: 10%;
    margin-top: 20px;
    font-size: .9em;
}

/* image */

div.content-1, div.content-2 {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

div.image {
    height: auto;
    max-width: 45%;
    overflow: hidden;
}

div.image img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

/* text */

div.text {
    width: 35%;
    margin: auto;
}

div.text h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

div.text p {
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: justify;
}

button.buy-button {
    background-color: #1b5405;
    width: auto;
    height: auto;
    color: white;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
}

.buy-button a {
    color: white;
    text-decoration: none;
}

.buy-button a:visited {
    color: white;
}